affine==2.2.1
aiohttp==3.5.4
alabaster==0.7.12
altair==3.1.0
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
bleach==3.0.2
blessings==1.7
bokeh==1.0.1
boto3==1.9.65
botocore==1.12.66
branca==0.3.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
colorama==0.4.0
coverage==4.5.2
coveralls==1.5.1
cryptography==2.3.1
cycler==0.10.0
dash==0.42.0
dash-core-components==0.47.0
dash-html-components==0.16.0
dash-renderer==0.23.0
dash-table==3.6.0
dash-table-experiments==0.6.0
decorator==4.3.0
descartes==1.1.0
Django==2.2
django-plotly-dash==0.9.10
docopt==0.6.2
docutils==0.14
dpd-components==0.1.0
ediblepickle==1.1.3
entrypoints==0.2.3
esda==2.0.0
Fiona==1.8.4
Flask==1.0.2
Flask-Compress==1.4.0
folium==0.7.0
future==0.17.1
GDAL==2.3.2
geocoder==1.38.1
geographiclib==1.49
geopandas==0.5.0
geopy==1.19.0
idna==2.8
idna-ssl==1.1.0
imagecodecs==2018.12.12
imagesize==1.1.0
ipykernel==5.1.0
ipysheet==0.3.1
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
json5==0.8.5
jsonschema==3.0.0a3
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyter-plotly-dash==0.2.0
jupyter-server-proxy==1.0.1
jupyterlab==1.0.2
jupyterlab-dash==0.1.0a2
jupyterlab-server==1.0.0
jupyterthemes==0.20.0
-e git+https://github.com/keplergl/kepler.gl.git@89ddae46658d65a8397d09481658b3c2ce0f3a9b#egg=keplergl&subdirectory=bindings\kepler.gl-jupyter
kiwisolver==1.0.1
lesscpy==0.13.0
libpysal==4.0.1
lxml==4.2.3
mapclassify==2.0.1
MarkupSafe==1.1.0
matplotlib==3.0.1
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.2
multidict==4.5.2
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
nbserverproxy==0.8.8
networkx==2.2
nose==1.3.7
nose-exclude==0.5.0
nose-progressive==1.5.2
notebook==5.7.2
numpy==1.15.4
oauthlib==3.0.1
olefile==0.46
packaging==18.0
paho-mqtt==1.4.0
palettable==3.1.1
pandas==0.24.2
pandocfilters==1.4.2
param==1.9.1
parso==0.3.1
patsy==0.5.1
pickleshare==0.7.5
Pillow==5.2.0
plotly==3.8.1
plotly-express==0.1.7
ply==3.11
pockets==0.7.2
prometheus-client==0.4.2
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
pycparser==2.19
Pygments==2.3.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
pyproj==1.9.5.1
pyrsistent==0.14.7
pyscbwrapper==0.1.1
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.7
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
rasterio==1.0.13
ratelim==0.1.6
requests==2.21.0
requests-oauthlib==1.2.0
retrying==1.3.3
rise==0.0.0
Rtree==0.8.3
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
sentinelhub==2.4.7
shape==1.0.0
Shapely==1.6.4.post2
simpervisor==0.3
six==1.11.0
snowballstemmer==1.2.1
snuggs==1.4.1
Sphinx==1.8.2
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.0
spreg==1.0.4
SQLAlchemy==1.2.14
sqlparse==0.3.0
statsmodels==0.9.0
terminado==0.8.1
testpath==0.4.2
tifffile==2018.11.28
toolz==0.10.0
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
traittypes==0.2.1
tweepy==3.7.0
typing-extensions==3.7.2
urllib3==1.24.1
utm==0.4.2
vega-datasets==0.7.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.2
widgetsnbextension==3.4.2
win-inet-pton==1.0.1
wincertstore==0.2
xlrd==1.2.0
yarl==1.3.0
